<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Sản Phẩm</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/assets/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/assets/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/assets/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/assets/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/assets/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/assets/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/assets/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/assets/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/assets/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/assets/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/assets/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{/assets/css/theme.css}" rel="stylesheet" media="all">
    <style>
        .limited-width {
            width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    </style>
</head>

<body >
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="index.html">Dashboard 1</a>
                                </li>
                                <li>
                                    <a href="index2.html">Dashboard 2</a>
                                </li>
                                <li>
                                    <a href="index3.html">Dashboard 3</a>
                                </li>
                                <li>
                                    <a href="index4.html">Dashboard 4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>Charts</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Tables</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                        <li>
                            <a href="calendar.html">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <div th:replace="/admin_sidebar :: sidebar"></div>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <div th:replace="/admin_header :: header"></div>
            <!-- HEADER DESKTOP-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Quản Lý Sản Phẩm</h2>
                                    <button type="button" class="au-btn au-btn-icon au-btn--blue" data-toggle="modal" data-target="#addModal">
                                        <i class="zmdi zmdi-plus"></i>Thêm Sản Phẩm</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-lg-12 col-md-12 col-xl-12">
                                <div class="table-responsive table--no-card m-b-30">
                                    <table style="table-layout: fixed;" class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Tên</th>
                                                <th>Giá</th>
                                                <th>Ảnh</th>
                                                <th>Mô Tả</th>
                                                <th>Danh Mục</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="product : ${products}">
                                            <td th:utext="${product.id}" class="limited-width"></td>
                                            <td th:utext="${product.name}" class="limited-width"></td>
                                            <td th:utext="${product.price}" class="limited-width"></td>
                                            <td class="limited-width"><img th:src="@{'/uploads/' + ${product.thumbnail}}" alt=""></td>
                                            <td th:utext="${product.description}" class="limited-width"></td>
                                            <td th:utext="${product.category.name}" class="limited-width"></td>
                                            <td class="limited-width">
                                                <input type="button" value="Chỉnh Sửa" class="btn btn-success"
                                                       data-toggle="modal" data-target="#updateModal"
                                                       th:data-id="${product.id}" th:data-name="${product.name}"
                                                       th:data-price="${product.price}" th:data-description="${product.description}"
                                                       th:data-category-id="${product.category.id}" th:data-discount="${product.discount}">
                                            </td>

                                            <td class="limited-width">
                                                <input type="button" value="Xoá" class="btn btn-danger"
                                                       data-toggle="modal" data-target="#deleteModal"
                                                       th:data-id="${product.id}" th:data-name="${product.name}"
                                                >
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        
                    </div>
                    </div>
                </div>
            </div>
            
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>
            <!-- modal medium -->
			<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content" style="margin-top: 150px;">
						<div class="modal-header">
							<h5 class="modal-title" id="mediumModalLabel">Thêm Sản Phẩm</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<form th:action="@{/admin/product/add}" method="post" th:object="${productDTO}" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="name" class=" form-control-label">Tên Sản Phẩm</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input th:field="*{name}" type="text" class="form-control">

                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="price" class=" form-control-label">Giá (VNĐ)</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input th:field="*{price}" type="number" min="10000"  class="form-control">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="description" class=" form-control-label">Mô Tả</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <textarea th:field="*{description}" rows="4" class="form-control"></textarea>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="categoryId" class=" form-control-label">Danh Mục</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select th:field="*{categoryId}" class="form-control">
                                            <option value="0" disabled selected>Chọn Danh Mục</option>
                                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="discount" class=" form-control-label">Giảm Giá (%)</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input th:field="*{discount}" type="number" min="0" class="form-control">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="images" class=" form-control-label">Ảnh</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="file" id="images" name="images" multiple="" class="form-control-file">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </div>
                        </form>
					</div>
				</div>
			</div>

    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="margin-top: 150px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="mediumModalLabel">Sửa Sản Phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/admin/product/update/{id}(id=${productId})}" method="post" th:object="${productDTO}" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">ID</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">1</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="name" class=" form-control-label">Tên Sản Phẩm</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input  type="text" id="name" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="price-input" class=" form-control-label">Giá (VNĐ)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="number" min="10000" id="price-input" name="price" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="description" class=" form-control-label">Mô Tả</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <textarea name="description" id="description" rows="4" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="categoryId" class=" form-control-label">Danh Mục</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="categoryId" id="categoryId" class="form-control">
                                    <option value="0" disabled selected>Chọn Danh Mục</option>
                                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="discount" class=" form-control-label">Giảm Giá (%)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="number" min="0" id="discount" name="discount" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="images" class=" form-control-label">Ảnh</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="file" id="images" name="images" multiple="" class="form-control-file">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                        <button type="submit" class="btn btn-primary">Lưu Thay Đổi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content" style="margin-top: 300px;">
						<div class="modal-header">
							<h5 class="modal-title" id="mediumModalLabel">Xoá Sản Phẩm</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
                            <div class="modal-body">
                                <p>Bạn có chắc chắn muốn xoá sản phẩm này ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                                <a href="" class="btn btn-primary">Xoá</a>
                            </div>
                        
					</div>
				</div>
			</div>
    <div th:if="${message!=null}">
        <div th:replace="/message :: alrtFragment(${message})"></div>
    </div>

    <!-- Jquery JS-->
    <script th:src="@{/assets/vendor/jquery-3.2.1.min.js}"></script>
    <!-- Bootstrap JS-->
    <script th:src="@{/assets/vendor/bootstrap-4.1/popper.min.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
    <!-- Vendor JS       -->
    <script th:src="@{/assets/vendor/slick/slick.min.js}">
    </script>
    <script th:src="@{/assets/vendor/wow/wow.min.js}"></script>
    <script th:src="@{/assets/vendor/animsition/animsition.min.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
    </script>
    <script th:src="@{/assets/vendor/counter-up/jquery.waypoints.min.js}"></script>
    <script th:src="@{/assets/vendor/counter-up/jquery.counterup.min.js}">
    </script>
    <script th:src="@{/assets/vendor/circle-progress/circle-progress.min.js}"></script>
    <script th:src="@{/assets/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
    <script th:src="@{/assets/vendor/chartjs/Chart.bundle.min.js}"></script>
    <script th:src="@{/assets/vendor/select2/select2.min.js}">
    </script>

    <!-- Main JS-->
    <script th:src="@{/assets/js/main1.js}"></script>
    <script>
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var productId = button.data('id'); // Extract info from data-* attributes
            var productName = button.data('name');

            // Update the modal's content.
            var modal = $(this);
            modal.find('.modal-body p').text('Bạn có chắc chắn muốn xoá sản phẩm ' + productName + ' ?');
            modal.find('.modal-footer .btn-primary').attr('href', '/admin/product/delete/' + productId);
        });
    </script>
    <script>
        $('#updateModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var productId = button.data('id'); // Extract info from data-* attributes
            var productName = button.data('name');
            var productPrice = button.data('price');
            var productDescription = button.data('description');
            var productCategoryId = button.data('category-id');
            var productDiscount = button.data('discount');

            var price = parseInt(productPrice.replace(/,/g, ''))

            // Update the modal's content.
            var modal = $(this);
            modal.find('.modal-body p.form-control-static').text(productId);
            modal.find('.modal-body input[name="name"]').val(productName);
            modal.find('.modal-body input[name="price"]').val(price);
            modal.find('.modal-body textarea[name="description"]').val(productDescription);
            modal.find('.modal-body select[name="categoryId"]').val(productCategoryId);
            modal.find('.modal-body input[name="discount"]').val(productDiscount);

            modal.find('form').attr('action', '/admin/product/update/' + productId);
        });
    </script>

</body>

</html>
<!-- end document-->
